<div class="row">
    <div class="col-md-4">@Html.ActionLink("Add Song", "Create", "Songs")</div>
    <div class="col-md-4">@Html.ActionLink("Edit Song", "Edit", "Songs")</div>
    <div class="col-md-4">@Html.ActionLink("Delete Song", "Delete", "Songs")</div>
</div>
