@{
    ViewBag.Title = "Home Page";
}



<div class="row front-box-wrapper">
    <div class="col-md-6 front-box">
        
        <div class="pink front-box-inner">
            <h2 class="text-center front-box-text">Music production</h2>
            <div class="front-box-inner-image">
                <a href="#">
                    <img src="~/Images/Big_M.png" class="img-responsive center-block" alt="Alternate Text" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 front-box">
        
        <div class="dark-pink front-box-inner">
            <h2 class="text-center front-box-text">Web development</h2>
            <div class="front-box-inner-image">
                <a href="/Home/WebDev/">
                    <img src="~/Images/big_W.png" class="img-responsive center-block" alt="Alternate Text" />
                </a>
            </div>
        </div>
    </div>
</div>