
@{
    ViewBag.Title = "WebDev";
}

<h2 class="text-uppercase">Web Development</h2>

<p>En liten oversikt over websider jeg har laget.</p>

<div class="row dark-pink-link">
    <div class="col-md-12">
        <h3><a href="#">bigbluecompany.no</a> og <a href="#">uzit.no</a></h3>
        <p>
            Enkel, statisk nettside med firmainfo. Mobiltilpasset med litt enkel js-animasjon.
</p>
    </div>

    <div class="col-md-12">
        <h3><a href="#">linkanalytix.net</a></h3>
        <p>
            Den siden som ligger ut nå er ikke den jeg har laget, men jeg hadde en side med et passordsystem for kunder for å se informasjon "bak muren", inkludert et eget brukeradmin-panel. Jeg har også litt erfaring med wordpress, så den siden ble redesignet i wordpress da kunden ikke trengte passordsystemet.
        </p>
    </div>

    <div class="col-md-12">
        <h3><a href="#">oslosommertid.no</a></h3>
        <p>En enkel, statisk side for festivalen Oslosommertid. Den har en Instragram-stream, men ellers statisk HTML.</p>
    </div>

    <div class="col-md-12">
        <h3><a href="#">aquavitbeat.com</a></h3>
        <p>Nettside for plateselskapet Aquavitbeat. Dette er et selskap jeg er involvert i og har laget en nettside med en admin-del hvor innloggede brukere kan opprette og redigere artister, ny musikk og utgivelser som vises på den offentlige delen av siden. Den er databasebasert, og utviklet i ASP.MVC, med EF6. Denne er under utvikling, og er min "holde-kunnskapen-oppe"-side.
</p>
    </div>

</div>

	
